fastapi
fasteners==0.14.1
passlib==1.7.4

psycopg2-binary==2.9.10

pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core
pydantic[email]
pytest-metadata==3.1.1
httpx
python-dateutil==2.9.0.post
python-dotenv==1.1.1
python-jose==3.5.0
python-multipart==0.0.20
pytz==2022.1
requests
SQLAlchemy==2.0.41
urllib3==1.26.5
uvicorn==0.15.0